### Feature Analysis
For today, I want to pair down those features. We have absolutely too many, and need to see 
- Which ones are correlated with crime?
- Which ones leak into each other? 
- What is the value of reducing with principal component analysis?

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../Data/scaled_with_crime.csv', nrows=100)

In [4]:
df.head()

,VACANCY,Violent_crime_rate_2014,REGION_MIDWEST REGION,REGION_NORTHEAST REGION,REGION_SOUTH REGION,REGION_WEST REGION,STATEICP_Alabama,STATEICP_Alaska,STATEICP_Arizona,STATEICP_Arkansas,...,OCCSCORE,SEI,HWSEI,PRESGL,PRENT,MOVEDIN,RIDERS,TRANTIME,DEPARTS,AGE
0,0,427,0,0,1,0,1,0,0,0,...,0.0000,0.000000,0.0000,0.000000,0.000000,1.000000,0.000000,0.00000,0.000000,0.760417
1,0,427,0,0,1,0,1,0,0,0,...,0.2625,0.528736,0.5875,0.753086,0.802326,0.142857,0.111111,0.31250,0.273774,0.322917
2,0,427,0,0,1,0,1,0,0,0,...,0.2500,0.091954,0.3000,0.209877,0.418605,0.142857,0.111111,0.28125,0.769723,0.427083
3,0,427,0,0,1,0,1,0,0,0,...,0.0000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.500000
4,0,427,0,0,1,0,1,0,0,0,...,0.0000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.166667

In [12]:
columns = {i+999:h for i, h in enumerate(list(df))}
uppercolumns = {i+999:h for i, h in enumerate(list(df)[999:])}
# list(df)

### General column descriptions

In [25]:
def get_numerical(columns):
    rt = {}
    for k, v in columns.items():
        first_word = v.split(' ')[0]
        if first_word in ['Number', 'Age']:
            rt[k] = v
    return rt
        
c = get_numerical(columns)

In [26]:
c

{105: 'Number of units in the family building',
 132: 'Number of vehicles available',
 141: 'Number of families in the home',
 160: 'Number of generations in the home',
 188: 'Number of children in the home',
 198: 'Number of children in the home under 5',
 206: 'Number of siblings ',
 216: 'Age of eldest child ',
 304: 'Age of youngest child',
 665: 'Number of weeks worked in the last year',
 672: 'Number of hours worked last week? '}

In [17]:
# hash the first column where these start
columns = {
1: 'Vacancy of the house',
2: 'Violent crime rate',
3: 'Region of the home',
6: 'State of the home',
57: 'Whether the home is in a metropolitan area',
64: 'Group quarter status',
69: 'Whether the home is a farm',
71: 'Status of ownership',
81: 'Status of mortgage',
86: 'Acreage of the home',
89: 'Whether tax is included',
93: 'Whether the home has insurance',
97: 'Status of the kitchen in the home',
101: 'Status of the plumbing in the home',
105: 'Number of units in the family building',
117: 'Whether the home has a phone',
121: 'Status of heating in the home',
132: 'Number of vehicles available',
141: 'Number of families in the home',
160: 'Number of generations in the home',
173: 'Spouse rule',
188: 'Number of children in the home',
198: 'Number of children in the home under 5',
206: 'Number of siblings ',
216: 'Age of eldest child ',
304: 'Age of youngest child',
392: 'Relation to the head of household ',
424: 'Sex',
426: 'Marital status',
432: 'Fertyr',
435: 'Race',
444: 'Birthplace at the state level',
514: 'Citizenship status',
518: 'Language status',
582: 'Speaking English status',
588: 'In school status',
591: 'Education basic',
602: 'Education description ',
625: 'Highest grade attained',
650: 'School type',
654: 'Employment status',
658: 'Employment status detailed',
665: 'Number of weeks worked in the last year',
672: 'Number of hours worked last week? ',
849: 'Worked last week',
853: 'Actively looking for work',
857: 'Available for work',
862: 'Worked last year',
866: 'Migration status',
871: 'Migration status detailed ',
878: 'Migration place',
986: 'Cognitive difficulties detail ',
1000: 'Veteran status',
1026: 'Place of work at the state level ',
1079: 'Type of transportation',
1082: 'Carpool status ',
1085: 'NUMERICAL VALUES'}

### TO-DO:
3 big things.
1. Revert the numericals in the one hot encoder
2. Map state, language, educational attainment, and place of work to smaller, cognitive disabilities, veteran status
3. Remove one hot encoded columns that are the reverse of each other, when both yes and no are present.

In [ ]:
# hash the first column where these start
columns = {
1: 'Vacancy of the house',
2: 'Violent crime rate',
3: 'Region of the home',
6 - 56: 'State of the home',
57-61: 'Whether the home is in a metropolitan area',
64-68: 'Group quarter status',
69-70: 'Whether the home is a farm',
71-80: 'Status of ownership',
81-85: 'Status of mortgage',
86-88: 'Acreage of the home',
89-92: 'Whether tax is included',
93-95: 'Whether the home has insurance',
97-98: 'Status of the kitchen in the home',
101-104: 'Status of the plumbing in the home',
105-116: 'Number of units in the family building',
117-120: 'Whether the home has a phone',
121-131: 'Status of heating in the home',
132-140: 'Number of vehicles available',
141-159: 'Number of families in the home',
160-172: 'Number of generations in the home',
173-187: 'Spouse rule',
188-197: 'Number of children in the home',
198-204: 'Number of children in the home under 5',
206-215: 'Number of siblings ',
216-303: 'Age of eldest child ',
304-390: 'Age of youngest child',
392-423: 'Relation to the head of household ',
424-425: 'Sex',
426-431: 'Marital status',
432-434: 'Fertyr',
435-443: 'Race',
444-513: 'Birthplace at the state level',
514-517: 'Citizenship status',
518-581: 'Language status',
582-587: 'Speaking English status',
588-590: 'In school status',
591-601: 'Education basic',
602-624: 'Education description ',
625-649: 'Highest grade attained',
650-653: 'School type',
654-657: 'Employment status',
658-664: 'Employment status detailed',
665-671: 'Number of weeks worked in the last year',
672-848: 'Number of hours worked last week? ',
849-852: 'Worked last week',
853-856: 'Actively looking for work',
857-861: 'Available for work',
862-865: 'Worked last year',
866-870: 'Migration status',
871-877: 'Migration status detailed ',
878-985: 'Migration place',
986-999: 'Cognitive difficulties detail ',
1000-1025: 'Veteran status',
1026-1078: 'Place of work at the state level ',
1079- 1081: 'Type of transportation',
1082-1084: 'Carpool status ',
1085 - 1119: 'NUMERICAL VALUES'}

In [ ]:
c = {105: 'Number of units in the family building',
 132: 'Number of vehicles available',
 141: 'Number of families in the home',
 160: 'Number of generations in the home',
 188: 'Number of children in the home',
 198: 'Number of children in the home under 5',
 206: 'Number of siblings ',
 216: 'Age of eldest child ',
 304: 'Age of youngest child',
 665: 'Number of weeks worked in the last year',
 672: 'Number of hours worked last week? '}